<nav>
  <ul align="left">
    <li><a href="#/contact" class="nav-selections" style="margin-right:35px;">Contact</a></li>
    <li><a href="#/about" class="nav-selections">About</a></li>
    <li><a href="#/products" class="nav-selections">Products</a></li>
    <li><a href="#" class="nav-selections">Home</a></li>
  </ul>
</nav>
<!-- <simples-page-teste></simples-page-teste> -->
<simples-pages-teste></simples-pages-teste>


<button routerLink="/websites">Websites</button>
<button routerLink="/dashboard">Dashboard</button>
<button routerLink="">Home</button>

<router-outlet></router-outlet>

